.EscenaFondo11 {
    display: grid;
    place-items: center;
    position: relative;
    width: 1280px;
    height: 720px;
    border-radius: 50px;
    overflow: hidden;
  }

  .Anm2{
    cursor: pointer;
    border-radius: 50px;
  }

  .Esc11x {
    width: 1px;
    height: 1px;
    right: 255px;
    bottom: 15px;
    animation: 1.5s a13 infinite forwards;
  }
  
  @keyframes a13 {
    0%{
        box-shadow: 0px 0px -1px 0px #ffffff;
    }
    50%{
  
        box-shadow: 0px 0px 26px 18px #ffffff;
    }
    100%{
        box-shadow: 0px 0px -1px 0px #ffffff;
    }
  }

  